* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    background-color: #c3ebf9;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
}

aside {
    display: flex;
    background-color: #63db6e;
    flex-grow: 1;
    margin: 10px;
    color:#ffffff;
    font-size: 2rem;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

Article {
    background-color: #fbb04c;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    column-gap: 10px;
    flex-grow: 2;
    margin: 10px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcd249;
    color: #ffffff;
    font-size: 2rem;
    font-family: sans-serif;
    flex-grow: 1;
}

Header, footer {
    background-color: #02bfb1;
    margin: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
    font-family: sans-serif;
}

.container1 {
    display: flex;
    column-gap: 10px;
    flex-grow: 5;
}

.container2 {
    display: flex;
    column-gap: 35px;
    flex-grow: 1;
    margin: 15px 15px 15px 15px;
    justify-content: space-evenly;
}
.art {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
    font-size: 2rem;
    font-family: sans-serif;
    flex-grow: 1;
}