@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



body{
    background: #D0E4F5 url("https://img.freepik.com/free-photo/abstract-colorful-pixel-background_23-2149625648.jpg?w=996&t=st=1675818392~exp=1675818992~hmac=0a7f1ed5334be64fce2705a2908903db666bc78cb948ffeb03182f430631c34a") repeat fixed 50% 50%;
}
h1 {
        display: block;
        text-align: center;
        color: whitesmoke;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Share Tech Mono', monospace;
 }
 h1 span, div span, footer span, p span {
    background-color: rgba(255, 0, 202, 0.7);
    padding: 5px;
 }

.navBar div {
    display: block;
    text-align: center;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Share Tech Mono', monospace;
    padding: 8px;
 }

 p {
    display: block;
    text-align: center;
    color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Share Tech Mono', monospace;
    padding: 12px;
 }

 footer {
    display: block;
    text-align: center;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Share Tech Mono', monospace;
    
 }

